@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@mixin header-link {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    text-align: center;
    text-decoration: none;
}